/.gitattributes export-ignore
/.gitignore export-ignore
/.phpunit.cache export-ignore
/.phpunit.result.cache export-ignore
/.temp export-ignore
/composer.lock export-ignore
/vendor export-ignore
/database/factories/.gitkeep export-ignore
/database/seeders/.gitkeep export-ignore
/src/Http/Controllers/.gitkeep export-ignore
/src/Providers/.gitkeep export-ignore
