includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    excludePaths:
        analyseAndScan:
            - .temp/*

    paths:
        - src
        - database/factories
        - database/seeders
        - tests/Fixtures

    level: max

    checkModelProperties: true

    tmpDir: .temp/phpstan
